<%= form_for @faculty ||= Faculty.new, url: "/faculties", class: "form" do |f| %>

	<div id="faculty_form">
 

	<button type="button" class="btn btn-danger btn-xs" id="dismiss_form" onclick= '$("#student_form").hide()'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	
	<% if @faculty.errors.any? %>
		<% @faculty.errors.full_messages.each do |msg| %>
				<ul>
					<li>
						<p><%= msg %></p>
					</li>
				</ul>
		<% end %>
	<% end %>

	<p class="alert alert-info">Email successfully confirmed! Please enter your full name below to complete the sign up.
	</p>

	<fieldset>

		<div id="row">
			<div class="col-md-3">
				<%= f.text_field :name, class: "form-control", placeholder: "Full name" %><br>
			</div>
		</div>

		<%= f.submit class: "btn btn-primary", id: "submit_btn", value: "Finish Sign up" %>

	</div>
</fieldset>
<% end %>

