.nabar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	display: none;
}

body {
	padding: 65px;
}

#sign_up_form {
	padding-left: 15% !important;
	border-right: 1px solid #e0e0e0;
}

#student_form {
	background-color: #9D5757;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;

	p {
		margin: 20px 20px 20px 20px;
	}

	#dismiss_form {
		margin-left: 90%;
	}

	#submit_btn {
		margin-left: 45%;
	}
}

#sign_in_form {
	padding-left: 15% !important;
}

.btn {
	border-radius: 0;
    text-align: center;
    border: 0;
	
}

.btn:hover {
}

#ytBtn {
	margin-right: 0.5em;	
}

.form-control {
	border-radius: 0;
}

.options {
	display: inline;
}

#example {
	display: none;
}

#addRow {
	display: none;
}