<!--================================== Footer ============================================================-->
<footer class="footer">
	<hr>
	<div class="container-fluid">
		<div class="navbar navbar-default navbar-fixed-bottom">
			<p class="navbar-text pull-left">© 2014 - <a href="<%= root_url %>">LMS</a>
			</p>
			<a id="ytBtn" href="#" class="navbar-btn btn-danger btn pull-right">
				<span class="glyphicon glyphicon-youtube"></span>  Subscribe on YouTube</a>
		</div>
	</div>
</footer>


<!---================================== End Footer =========================================================